---
tags: ['latest_ru', 'projects_ru']
date: 2023-01-01
title: Больше для Bright Rich
meta_title: Кейс | Другие проекты для Bright Rich, краткий обзор
meta_description: BR Home, BR Cash, BR CRM etc.
short_desc: BR Home, BR Cash, BR CRM etc.
short_desc_add: Краткий обзор.
year: 2022–2024
folder: more-brightrich
role:
- Дизайн / редизайн
- Аудит
- Вёрстка и натяжка на CMS
no_intro_block: true

---
{% import "../../_includes/components.njk"  as components with context %}

<div class="dark-bg--underlay">
    <section class="brs-top">
        <div class="wrap">
            <div class="readable">
                <h2><span>О компании</span></h2>
                <p>Bright Rich — первая российская компания, принятая в CORFAC, международную ассоциацию брокеров коммерческой недвижимости. На сегодня портфель сделок превышает 1,9 млн кв. м. Офисы открыты в Москве, Санкт-Петербурге, Дубае и Алматы.</p>
                <h2><span>Задачи</span></h2>
                <p>Помимо переноса основного сайта (о котором можно прочитать в <a href="/work/brightrich" class="link">этом кейсе</a>) для компании было выполнено множество других проектов. Вот некоторые из них.</p>
                <br>

                <h3>Быстрый переход</h3>
                <ul class="bulleted-list--custom">
                    <li><a class="link" href="#dotcom">Отдельный шаблон для brightrich.com</a></li>
                    <li><a class="link" href="#cash">Партнерская программа BR Cash</a></li>
                    <li><a class="link" href="#crm">CRM для внутреннего использования</a></li>
                    <li><a class="link" href="#home">BR Home</a></li>
                    <li><a class="link" href="#city">Аренда в Москва-Сити</a></li>
                </ul>
            </div>
        </div>
    </section>
</div>

<section class="border-top" id="dotcom">
    <div class="wrap">
        <h2><span class="gradient-text">Brightrich.com</span></h2>
        <div class="solution-layout">
            <div class="solution-desc rows">
                <p class="accent-font">2024</p>
                <ul class="taglist taglist--small">
                    <li class="taglist__item">Дизайн</li>
                </ul>
                <div>
                    <h3>Задача</h3>
                    <p>Сделать дизайн дополнительной версии сайта, которая будет ориентирована на недвижимость в Дубае.</p>
                </div>
                <div>
                    <h3>Процесс</h3>
                    <p>Цветовая схема содержит спокойные оттенки, сочетание песочно-бежевого с коралловым и мягкие градиенты. Сохранен основной шрифт — Euclid, а для заголовков использован контрастный Merriweather с засечками. Также была сохранена структура основного сайта. Удачные композиционные решения были адаптированы под новый стиль.</p>
                </div>
            </div>
            <div class="solution-image">
                {% image ["src/content/", folder, "/brcom-colors.jpg"] | join, "bordered", "Цветовая гамма brightrich.com",  [995, 1493]  %}
                {% image ["src/content/", folder, "/brcom-figma.jpg"] | join, "", "Превью всех макетов brightrich.com",  [995, 1493]  %}
            </div>
        </div>
        <div class="solution-layout">
            <div class="solution-desc rows">
                <div>
                    <h3>Результат</h3>
                    <p>Макеты для 16 основных разделов одобрены руководством и переданы разработчикам.</p>
                    <p class="footnote">Все данные на скриншотах вымышлены</p>
                </div>
            </div>
            <div class="solution-image media-bg-layer--transparent">
                <div class="long-image-crop" data-lightbox>
                    {% image ["src/content/", folder, "/brcom-homepage-preview.jpg"] | join, "bordered", "Превью главной страницы brightrich.com",  [995]  %}
                    <div data-full-image>{% image ["src/content/", folder, "/brcom-homepage.jpg"] | join, "", "brightrich.com - главная страница",  [1376]  %}</div>
                </div>
                {% image ["src/content/", folder, "/brcom-apartments.jpg"] | join, "bordered", "Страница апартаментов  - brightrich.com",  [995, 1493]  %}
                {% image ["src/content/", folder, "/brcom-commercial.jpg"] | join, "bordered", "Страница офисов  - brightrich.com",  [995, 1493]  %}
            </div>
        </div>
    </div>
</section>

<section class="border-top" id="cash">
    <div class="wrap">
        <h2><span class="gradient-text">BR Cash</span></h2>
        <div class="solution-layout">
            <div class="solution-desc rows">
                <p class="accent-font">2023</p>
                <ul class="taglist taglist--small">
                    <li class="taglist__item">Дизайн</li>
                    <li class="taglist__item">Вёрстка</li>
                </ul>
                <div>
                    <h3>Задача</h3>
                    <p>Разработать личный кабинет партнерской программы Bright&nbsp;Rich для частных агентов и брокеров</p>
                </div>
                <div>
                    <h3>Результат</h3>
                    <p>Сделки представлены в виде блоков со шкалой прогресса. Каждый тип недвижимости помечается определенным цветом. Есть возможность связаться с менеджером по каждой сделке. После закрытия сделки появляется возможность скачать документы. Сайдбар с воронкой продаж всегда в зоне видимости с возможностью свернуть. Проект запущен и активно используется брокерами.</p>
                    <p class="footnote">Все данные на скриншотах вымышлены</p>
                </div>
                <p><a href="https://brcash.pro" target="_blank" class="btn btn-outline--default btn-external"><span>brcash.pro</span></a></p>
            </div>
            <div class="solution-image">
                {% image ["src/content/", folder, "/brcash-01.jpg"] | join, "bordered", "BR Cash - скриншот 02",  [995, 1493]  %}

                {% image ["src/content/", folder, "/brcash-02.jpg"] | join, "bordered", "BR Cash - скриншот 01",  [995, 1493]  %}

            </div>
        </div>
    </div>
</section>

<section class="border-top" id="crm">
    <div class="wrap">
        <h2><span class="gradient-text">BR CRM</span></h2>
        <div class="solution-layout">
            <div class="solution-desc rows">
                <p class="accent-font">2023</p>
                <ul class="taglist taglist--small">
                    <li class="taglist__item">Дизайн</li>
                    <li class="taglist__item">Вёрстка</li>
                </ul>
                <div>
                    <h3>Задача</h3>
                    <p>Разработать систему (CRM) для внутреннего использования брокерами Bright&nbsp;Rich.</p>
                </div>
                <div>
                    <h3>Процесс</h3>
                    <p>За основу взят классический вид CRM с боковым меню. Дизайн элементов интерфейса в привычной стилистике Bright Rich. Основной раздел — листинг предложений с фильтрами. Брокеры могут создавать подборки, а модераторы добавлять и редактировать объекты.</p>
                </div>
                <div>
                    <h3>Результат</h3>
                    <p>Система сверстана с использованием классического стека (HTML, SCSS, jQuery, шаблоны Smarty для переиспользования компонентов, PHP на бэкенде), запущена и поддерживается командой Evernet.</p>
                    <p class="footnote">Все данные на скриншотах вымышлены</p>
                </div>
            </div>
            <div class="solution-image">
                {% image ["src/content/", folder, "/brcrm-grid.jpg"] | join, "bordered", "BR CRM - скриншот 01",  [995, 1493]  %}

                {% image ["src/content/", folder, "/brcrm-list.jpg"] | join, "bordered", "BR CRM - скриншот 02",  [995, 1493]  %}

                {% image ["src/content/", folder, "/brcrm-popup.jpg"] | join, "bordered", "BR CRM - скриншот 03",  [995, 1493]  %}

            </div>
        </div>
    </div>
</section>

<section class="border-top" id="home">
    <div class="wrap">
        <h2><span class="gradient-text">BR Home</span></h2>
        <div class="solution-layout">
            <div class="solution-desc rows">
                <p class="accent-font">2022</p>
                <ul class="taglist taglist--small">
                    <li class="taglist__item">Вёрстка</li>
                </ul>
                <div>
                    <h3>Задача</h3>
                    <p>Компания Bright&nbsp;Rich запустила новое направление&nbsp;&mdash; сегмент элитного жилья. Нужно разработать имиджевый сайт в кратчайшие сроки.</p>
                </div>

                <div>
                    <h3>Процесс</h3>
                    <p>Работа велась совместно с дизайнером клиента. По макетам из Фигмы был свёрстан минималистичный одностраничник с небольшим количеством анимаций.</p>
                </div>

                <div>
                    <h3>Результат</h3>
                    <p>Проект был запущен за 3 дня, что очень порадовало клиента. В&nbsp;дальнейшем планируется расширение структуры. Верстка успешно прошла авторский надзор дизайнера. Сайт адаптивен и отлично отображается даже на небольших экранах в различных браузерах.</p>
                </div>
                <p><a href="https://brhome.ru" target="_blank" class="btn btn-outline--default btn-external"><span>brhome.ru</span></a></p>
            </div>

            <div class="solution-image">
                <div class="media-bg-layer--gray">
                    {{ components.video('brhome-video.webm', 'brhome-video-poster.jpg', true) }}
                </div>
                <div class="media-bg-layer--gray">
                    <div class="mobile-screens">
                        <div class="grid-item" data-gsap="groupTranslateY">
                            {% image ["src/content/", folder, "/brhome-mobile-01.jpg"] | join, "", "BR Home - скриншот мобильной версии - 01",  ""  %}

                        </div>
                        <div class="grid-item" data-gsap="groupTranslateY">
                            {% image ["src/content/", folder, "/brhome-mobile-02.jpg"] | join, "", "BR Home - скриншот мобильной версии - 02",  ""  %}

                        </div>
                        <div class="grid-item" data-gsap="groupTranslateY">
                            {% image ["src/content/", folder, "/brhome-mobile-03.jpg"] | join, "", "BR Home - скриншот мобильной версии - 03",  ""  %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="border-top" id="city">
    <div class="wrap">
        <h2><span class="gradient-text">Moscow City Broker</span></h2>

        <div class="rows readable">
            <p class="accent-font">2022</p>
            <ul class="taglist taglist--small">
                <li class="taglist__item">Аудит</li>
                <li class="taglist__item">Редизайн</li>
                <li class="taglist__item">Вёрстка и натяжка на CMS</li>
            </ul>
            <div>
                <h3>Задача</h3>
                <p>Сделать небольшой редизайн и улучшить UI/UX на имеющемся сайте. Сверстать с нуля на собственной CMS, заточенной под работу с недвижимостью.</p>
            </div>
            <div>
                <h3>Процесс</h3>
                <p>Провели аудит и составили список багов и неудобств (примеры далее). Нарисовали макеты и согласовали их с клиентом. Верстка интегрирована с CMS совместно с backend-разработчиком. Использован стандартный набор технологий: HTML, CSS, jQuery + плагины, шаблонизатор Smarty. Провели ряд работ по SEO для поднятия сайта в органической выдаче.</p>
            </div>
        </div>
    </div>
</section>

<section class="border-top--light">
    <div class="wrap">
        <div class="solution-layout">
            <div class="solution-desc">
                <div class="solution-desc__inner">
                    <h3 class="underline-red">Проблема</h3>
                    <p>Неаккуратная вёрстка в фильтре, плохо считываются элементы в шапке, отсутствует заголовок</p>
                </div>
            </div>
            <div class="solution-image">
                {% image ["src/content/", folder, "/bcmoscowcity/01-1.jpg"] | join, "", "bcmoscowcity.com - 01-01",  [995, 1493]  %}

            </div>

        </div>
        <div class="solution-layout">
            <div class="solution-desc">
                <div class="solution-desc__inner">
                    <h3 class="underline-green">Решение</h3>
                    <p>Цвет шапки заменен на белый, добавлен заголовок H1, улучшена вёрстка в фильтре</p>
                </div>
            </div>
            <div class="solution-image">
                {% image ["src/content/", folder, "/bcmoscowcity/01-2.jpg"] | join, "bordered", "bcmoscowcity.com - 01-02",  [995, 1493]  %}

            </div>
        </div>
    </div>
</section>

<section class="border-top--light">
    <div class="wrap">
        <div class="solution-layout">
            <div class="solution-desc">
                <div class="solution-desc__inner">
                    <h3 class="underline-red">Проблема</h3>
                    <p>Недостаточно заметные кнопки для прокрутки, отсутствие функционала кроме перехода в выбранную башню</p>
                </div>
            </div>
            <div class="solution-image">
                {% image ["src/content/", folder, "/bcmoscowcity/03-1.jpg"] | join, "bordered", "bcmoscowcity.com - 03-01",  [995, 1493]  %}

            </div>
        </div>
        <div class="solution-layout">
            <div class="solution-desc">
                <div class="solution-desc__inner">
                    <h3 class="underline-green">Решение</h3>
                    <p>Добавлен информативный блок под слайдер. Теперь при прокрутке сразу видна информация об активной башне</p>
                </div>
            </div>
            <div class="solution-image">
                {% image ["src/content/", folder, "/bcmoscowcity/03-2.jpg"] | join, "bordered", "bcmoscowcity.com - 03-02",  [995, 1493]  %}

            </div>
        </div>
    </div>
</section>

<section class="border-top--light">
    <div class="wrap">
        <div class="solution-layout">
            <div class="solution-desc">
                <div class="solution-desc__inner">
                    <h3 class="underline-red">Проблема</h3>
                    <p>Форма для связи никак не зонирована</p>
                </div>
            </div>
            <div class="solution-image">
                {% image ["src/content/", folder, "/bcmoscowcity/04-1.jpg"] | join, "bordered", "bcmoscowcity.com - 04-01",  [995, 1493]  %}

            </div>
        </div>
        <div class="solution-layout">
            <div class="solution-desc">
                <div class="solution-desc__inner">
                    <h3 class="underline-green">Решение</h3>
                    <p>Добавлен призыв к действию и поля для конкретизации запроса</p>
                </div>
            </div>
            <div class="solution-image">
                {% image ["src/content/", folder, "/bcmoscowcity/04-2.jpg"] | join, "", "bcmoscowcity.com - 04-02",  [995, 1493]  %}
            </div>
        </div>
    </div>
</section>

<section class="border-top--light">
    <div class="wrap">
        <div class="solution-layout">
            <div class="solution-desc">
                <div class="solution-desc__inner">
                    <h3 class="underline-red">Проблема</h3>
                    <p>Отсутствовала страница с листингом башен</p>
                </div>
            </div>
            <div class="solution-image">&#128549;</div>
        </div>
        <div class="solution-layout">
            <div class="solution-desc">
                <div class="solution-desc__inner">
                    <h3 class="underline-green">Решение</h3>
                    <p>Сверстана страница со всеми башнями делового комплекса</p>
                </div>
            </div>
            <div class="solution-image">
                {% image ["src/content/", folder, "/bcmoscowcity/catalog-02.jpg"] | join, "bordered", "bcmoscowcity.com - каталог башен",  [995, 1493]  %}
            </div>
        </div>
    </div>
</section>

<section class="border-top--light">
    <div class="wrap">
        <div class="solution-layout">
            <div class="solution-desc">
                <div class="solution-desc__inner">
                    <h3 class="underline-red">Проблема</h3>
                    <p>Не был предусмотрен слайдер для показа фото, вместо реальных фото помещений отображалось фото БЦ</p>
                </div>
            </div>
            <div class="solution-image media-bg-layer--dark-gray">
                <div class="long-image-crop" data-lightbox>
                    {% image ["src/content/", folder, "/bcmoscowcity/product-01-preview.jpg"] | join, "", "bcmoscowcity.com - страница БЦ - превью",  [995]  %}
                    <div data-full-image>{% image ["src/content/", folder, "/bcmoscowcity/product-01.jpg"] | join, "", "bcmoscowcity.com - страница БЦ",  [1376]  %}</div>
                </div>
            </div>
        </div>
        <div class="solution-layout">
            <div class="solution-desc">
                <div class="solution-desc__inner">
                    <h3 class="underline-green">Решение</h3>
                    <p>Добавлен слайдер, форма запроса закреплена справа, страница предложения приведена к общему стилю.</p>
                </div>
            </div>
            <div class="solution-image media-bg-layer--dark-gray">
                {{ components.video('bcmoscowcity-video.webm', 'bcmoscowcity-video-poster.jpg', true) }}
            </div>
        </div>
    </div>
</section>
<section class="border-top--light">
    <div class="wrap">
        <div class="solution-layout">
            <div class="solution-desc rows">
                <h3>Итоговый результат</h3>
                <p>Получился SEO-friendly сайт со множеством улучшений, в сравнении с существовавшей версией. Отлично ранжируется и корректно отображается на всех размерах экранов в различных браузерах.</p>
                <p><a href="https://bc-moscow-city.com" target="_blank" class="btn btn-outline--default btn-external"><span>bc-moscow-city.com</span></a></p>
            </div>
            <div class="solution-image">

                <div class="media-bg-layer--dark-gray">
                    <div class="mobile-screens">
                        <div class="grid-item">
                            {% image ["src/content/", folder, "/bcmoscowcity/mobile-01.jpg"] | join, "", "Скриншот мобильной версии bcmoscowcity.com - 01",  ""  %}

                        </div>
                        <div class="grid-item">
                            {% image ["src/content/", folder, "/bcmoscowcity/mobile-02.jpg"] | join, "", "Скриншот мобильной версии bcmoscowcity.com - 02",  ""  %}

                        </div>
                        <div class="grid-item">
                            {% image ["src/content/", folder, "/bcmoscowcity/mobile-03.jpg"] | join, "", "Скриншот мобильной версии bcmoscowcity.com - 03",  ""  %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>