<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="ltr">
<!-- Fact 1: portfolio source code is available at -->
<!-- https://github.com/alexkooksa/kooksa.codes -->
<!-- | -->
<!-- Fact 2: mechanical keebs are awesome -->


{% set isHomepage = ((page.url == '/en/') or (page.url == '/ru/')) %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="robots" content="noindex">
    <meta name="yandex" content="noindex, nofollow" />
    <title>{{ meta_title }} | Kooksa.codes</title>
    <link rel="preload" as="font" href="/styles/fonts/Unbounded-VF.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/styles/fonts/JetBrainsMono-VF.woff2" type="font/woff2" crossorigin="anonymous">

    {# TODO fix homepage check everywhere #}
    {% if isHomepage %}
    <link rel="preload" as="image" href="/content/images/bg1.jpg">
    <link rel="preload" as="image" href="/content/images/bg2.jpg">
    <link rel="preload" as="image" href="/content/images/bg3.jpg">

    {# <link rel="preload" as="image" href="wolf.jpg" imagesrcset="wolf_400px.jpg 400w, wolf_800px.jpg 800w, wolf_1600px.jpg 1600w" imagesizes="50vw"> #}

    {% endif %}

    <link rel="stylesheet" href="/styles/style.css?{{ globals.buildTime }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/styles/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/styles/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/styles/favicon/favicon-16x16.png">
    <link rel="manifest" href="/styles/favicon/site.webmanifest">
    <link rel="mask-icon" href="/styles/favicon/safari-pinned-tab.svg" color="#1a1c21">
    <link rel="shortcut icon" href="/styles/favicon/favicon.ico" type="image/x-icon">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="/styles/favicon/browserconfig.xml">
    <meta name="theme-color" content="#1a1c21">
</head>

{# { isHomepage | dump } #}

<body {% if isHomepage %} class="homepage" {% endif %}>

    {% include 'header.njk' %}
    {{ content | safe}}


    <div class="lightbox">
        <div class="wrap">
            <button class="btn-close"></button>
        </div>
    </div>

    {% include 'footer.njk' %}

    <script src="/js/gsap.min.js"></script>
    <script src="/js/ScrollTrigger.min.js"></script>
    {% if isHomepage %}
    <script src="/js/TextPlugin.min.js"></script>
    <script src="/js/intro.js?{{ globals.buildTime }}"></script>
    {% endif %}
    <script src="/js/script.js?{{ globals.buildTime }}"></script>
</body>

</html>