<footer>
    <div class="wrap">
        <div class="footer-footnote">
            <p><span class="asterisk">*</span> Kooksa <i>['kuk-sa]</i></p>
            <p>
                <span>1)&nbsp;от англ. «kook» — totally&nbsp;cool;</span>
                <span>2)&nbsp;искаж. «kuksa» — финская&nbsp;кружка</span>
            </p>
        </div>
        <p class="copyright">&copy; 2023 kooksa.codes | Made&nbsp;with&nbsp;<a href="https://github.com/11ty/eleventy/" target="_blank">11ty</a> | Hosted&nbsp;on&nbsp;<a href="https://github.com/alexkooksa/kooksa.codes" target="_blank">GitHub&nbsp;Pages</a></p>
    </div>
</footer>