<header class="top-nav">
    <div class="wrap">
        {% if page.url == '/' %}
        <span class="logo">
            <img src="/styles/images/logo.svg" alt="kooksa.codes - logo">
        </span>
        {% else %}
        <a href="/" class="logo">
            <img src="/styles/images/logo.svg" alt="kooksa.codes - logo">
        </a>
        {% endif %}
        <nav>
            <ul class="top-menu" data-el="nav">
                <li class="top-menu__item"><a class="top-menu__link" href="/#work">Кейсы</a></li>
                <li class="top-menu__item"><a class="top-menu__link" href="/#experience">Опыт</a></li>
                <li class="top-menu__item"><a class="top-menu__link" href="/#contact">Связаться</a></li>
                <li class="top-menu__item lang-switcher">
                    <span class="lang-switcher__item is-active" href="/">ru</span><span>&nbsp;/&nbsp;</span>
                    <a class="lang-switcher__item" href="#">en</a>
                </li>
            </ul>
            <button class="btn-menu-m" data-btn="open-menu"><div class="btn-menu-box"><div class="btn-menu-inner"></div></div></button>
        </nav>
    </div>
</header>