<section class="homepage-intro">
    <img src="/content/images/bg1.jpg" alt="" data-gsap-el="bg1">
    <img src="/content/images/bg2.jpg" alt="" data-gsap-el="bg2">
    <img src="/content/images/bg3.jpg" alt="" data-gsap-el="bg3">
    <div class="wrap">
        <p class="greeting accent-font" data-gsap-el="greeting">{{languages[page.lang].homepageIntro.greeting }}</p>
        <h1>
            <span class="text-underlay" data-gsap-el="mainline-1"><span class="gradient-text">{{languages[page.lang].homepageIntro.mainLine1}}</span>
            </span>
            <span class="text-underlay" data-gsap-el="mainline-2"><span class="gradient-text">{{languages[page.lang].homepageIntro.mainLine2}}</span></span>
            <span class="tagline accent-font" data-gsap-el="tagline"><span>// {{languages[page.lang].homepageIntro.tagline}}</span></span>
        </h1>
        <a href="#projects" class="btn btn-white" data-gsap-el="buttonNext">{{languages[page.lang].homepageIntro.buttonNext}}</a>
    </div>
</section>