{% import "components.njk"  as components with context %}
<ul class="caselist caselist--small">
    {% for project in collections["older_" + page.lang] | reverse  %}
    {{ components.caselistItemSmall(project) }}
    {% endfor %}

    <li class="caselist__item is-vertical caselist__item--last" data-gsap="groupTranslateY">
        <div class="item-content">
            <p class="item-title title-font"><span class="gradient-text">{% if page.lang == 'en' %}Plus{% else %}И ещё{% endif %}</span></p>
            <p class="stats-block">
                {% if page.lang == 'en' %}
                <span class="stats-number">100+</span><span class="stats-unit">projects <br>in 7 years</span>
                {% else %}
                <span class="stats-number">100+</span><span class="stats-unit">проектов <br>за 7 лет</span>
                {% endif %}
            </p>

            <p class="item-desc">{% if page.lang == 'en' %}E-commerce, real estate, in-house CRM, corporate websites etc.{% else %}E-commerce, недвижимость, внутренние CRM, корпоративные сайты etc.{% endif %}</p>

            <div class="item-content__bottom rows">
                <p class="item-date"><span>2016 - 2023</span></p>
                <a href="{% if not isHomepage %}/{{ page.lang }}/{% endif %}#about" class="btn btn-outline--primary">{% if page.lang == 'en' %}Oh, that's a lot!{% else %}Откуда столько?{% endif %}</a>
            </div>
        </div>
    </li>
</ul>