{% import "components.njk" as components %}
<ul class="caselist">
    {% for project in collections["latest_"+ page.lang] %}
    <li data-gsap="scale">
        <a href="{{ project.url }}" class="caselist__item is-large">
            <div class="item-content">
                <p class="item-title title-font">{{ project.data.title }}</p>

                <p class="item-desc">{{ project.data.short_desc }}{% if project.data.short_desc_add | length %}. {{ project.data.short_desc_add }}{% endif %}</p>

                {% if project.data.role | length %}
                <ul class="taglist">
                    {% for item in project.data.role %}
                    <li class="taglist__item">{{item}}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% if project.data.year | length %}
                <p class="item-date"><span>{{ project.data.year }}</span></p>
                {% endif %}
                <p class="btn btn-white">Смотреть кейс</p>
            </div>
            <div class="item-image">
                {% image ["src/content/", project.data.folder, "/case-preview.png"] | join, "", "Превью кейса",  [690, 1380]  %}

            </div>
        </a>
    </li>
    {% endfor %}
</ul>