{% import "components.njk" as components %}
<ul class="caselist caselist--small" data-gsap="groupTranslateY">
    {% for project in collections["older_" + page.lang] | reverse  %}
    {{ components.caselistItemSmall(project) }}
    {#    <li>
        <a class="caselist__item is-vertical" href="{{ project.url }}">
            <div class="item-content">
                <p class="item-title title-font">{% if project.data.short_title | length %}{{ project.data.short_title }}{% else %}{{ project.data.title }}{% endif %}</p>
                <p class="item-desc">{{ project.data.short_desc }}</p>
                {% if project.data.role | length %}
                <ul class="taglist">
                    {% for item in project.data.role %}
                    <li class="taglist__item">{{item}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="item-content__bottom rows">
                    {% if project.data.year | length %}
                    <p class="item-date"><span>{{ project.data.year }}</span></p>
                    {% endif %}
                    <p class="btn btn-white">Смотреть кейс</p>
                </div>
            </div>
        </a>
    </li>#}
    {% endfor %}

    <li class="caselist__item is-vertical caselist__item--last">
        <div class="item-content">
            <p class="item-title title-font"><span class="gradient-text">И ещё</span></p>
            <p class="stats-block"><span class="stats-number">100+</span><span class="stats-unit">проектов <br>за 7 лет</span></p>
            <p class="item-desc">E-commerce, недвижимость, внутренние CRM, корпоративные сайты</p>
            <div class="item-content__bottom rows">
                <p class="item-date"><span>2016 - 2023</span></p>
                <a href="/#experience" class="btn btn-outline--primary">Откуда столько?</a>
            </div>
        </div>
    </li>
</ul>