---
meta_title: Александра Кукса — frontend-разработчик с опытом в UI/UX
meta_description: Некоторые проекты с моим участием в качестве разработчика и дизайнера
layout: base.njk
templateEngineOverride: njk
---

{% include 'homepageIntro.njk' %}

<div class="dark-bg--underlay">
	<section class="cases-section dark-bg" id="projects">
		<div class="wrap">
			<div class="title-group centered">
				<h2><span class="gradient-text" data-gsap="opacity">Недавние кейсы</span></h2>
				<p data-gsap="opacity">Проекты запущены, поддерживаются и развиваются</p>
			</div>
			{% include 'projectsListLatest.njk' %}
		</div>
	</section>
</div>

<section class="older-section dark-bg">
	<div class="wrap">
		<div class="centered title-group">
			<h2><span class="gradient-text" data-gsap="opacity">Сайты постарше</span></h2>
			<p data-gsap="opacity">Кроме Bright Rich были и другие проекты, например:</p>
		</div>
		{% include 'projectsListOlder.njk' %}
	</div>
</section>

{% include 'experienceSection.njk' %}

{% include 'skillsSection.njk' %}

{% include 'educationSection.njk' %}

{% include 'aboutSection.njk' %}
