---
tags: ['older_en', 'projects_en']
date: 2021-01-01
title: Restte
meta_title: Case study | Restte — online furniture store
meta_description: Design and front-end development
short_desc: Online furniture store in HoReCa segment
year: '2021'
folder: restte
role:
- Design
- Front-end development
- CMS development
---
{% import "../../_includes/components.njk"  as components with context %}
<section class="case-cover dark-bg">
    <div class="wrap">
        {{ components.video('restte-menu.mp4', 'restte-menu-poster.jpg') }}
    </div>
</section>
<div class="dark-bg--underlay" data-gsap-el="section-rounded">
    <section class="brs-top">
        <div class="wrap">
            <h2>Goals</h2>
            <p>Develop a standalone website for HoReCa segment for a regular client who owns an online furniture and decor shop. The website should have an elegant design, clean layout, and standard features.</p>
        </div>
    </section>
</div>

<section class="border-top">
    <div class="wrap">
        <h2>Page types</h2>
        <ol class="numbered-list columns-list">
            <li>Homepage</li>
            <li>Products list</li>
            <li>Product page</li>
            <li>Search results</li>
            <li>Favorites</li>
            <li>Cart and checkout</li>
            <li>Blog</li>
            <li>Static page</li>
            <li>Personal account</li>
            <li>Contacts</li>
        </ol>
    </div>
</section>

<section class="border-top">
    <div class="wrap">
        <h2>Homepage</h2>
        <div class="solution-layout">
            <div class="solution-desc rows">
                <p>The main page has a classic block of banners that the client can manage from the admin area. Below this, there is a navigation to the main categories: furniture for restaurants, furniture for offices and furniture for hotels. The section of interior examples allows the customer to be inspired by how the product is used in practice.</p>
            </div>

            <div class="solution-image">
                {% image ["src/content/", folder, "/homepage.jpg"] | join, "bordered", "Restte.com - homepage screenshot",  [995]  %}
            </div>
        </div>

    </div>
</section>

<section class="border-top">
    <div class="wrap">
        <h2>Products list</h2>
        <div class="solution-layout">
            <div class="solution-desc rows">
                <p>At the top of the screen there is a typical cover block: H1 title consisting of the name of the main category and subcategory, a short description and a stylish image. Inside the catalogue itself, there are a number of filters available for product selection.</p>
            </div>

            <div class="solution-image">
                {% image ["src/content/", folder, "/category.jpg"] | join, "bordered", "Restte.com - products list screenshot",  [995]  %}
            </div>
        </div>

    </div>
</section>

<section class="border-top">
    <div class="wrap">
        <h2>Product page</h2>
        <div class="solution-layout">
            <div class="solution-desc rows">
                <p>All basic information about the product is available, as well as the opportunity to submit a request for a complete selection of furniture for the project. Some products have a restriction in the form of a minimum quantity for ordering, we immediately warn the customer about it.</p>
            </div>
            <div class="solution-image">
                {% image ["src/content/", folder, "/product.jpg"] | join, "bordered", "Restte.com - product page screenshot",  [995]  %}
            </div>
        </div>

    </div>
</section>

<section class="border-top">
    <div class="wrap">
        <h2>Result</h2>
        <div class="solution-layout">
            <div class="solution-desc rows">
                <ul class="bulleted-list--custom" data-gsap-el="bulletedList">
                    <li>The site was developed using an in-house CMS, including a special module to handle shop-related features. Front-end: HTML + Smarty template engine, CSS, JQuery + plugins. Back-end: PHP, CodeIgniter.</li>
                    <li>The well-designed catalogue hierarchy had a positive effect on SEO.</li>
                    <li>Easy to use even on small devices.</li>
                    <li>Content relevance is maintained by client moderators through the use of an administrative panel and synchronization.</li>
                </ul>
            </div>
            <div class="solution-image">
                <div class="media-bg-layer--dark-gray">
                    <div class="mobile-screens">
                        <div class="grid-item">
                            {% image ["src/content/", folder, "/mobile-01.jpg"] | join, "", "Restte - mobile version screenshot - 01",  ""  %}

                        </div>
                        <div class="grid-item">
                            {% image ["src/content/", folder, "/mobile-02.jpg"] | join, "", "Restte - mobile version screenshot - 02",  ""  %}

                        </div>
                        <div class="grid-item">
                            {% image ["src/content/", folder, "/mobile-03.jpg"] | join, "", "Restte - mobile version screenshot - 03",  ""  %}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<section class="border-top links-section">
    <div class="wrap">
        <h2>Links</h2>
        <a href="https://restte.com" target="_blank" class="btn btn-outline--default btn-external"><span>restte.com</span></a>
    </div>
</section>