@mixin mq($width, $type: min) {
    @if $type == max {
        $width: $width - 1;
    }
    @media screen and (#{$type}-width: #{$width}px) {
        @content;
    }
}

@mixin default-font {
    font-family: "Tilda Sans", sans-serif;
    font-weight: 400;
}

@mixin title-font {
    font-family: "Unbounded", sans-serif;
    font-weight: 600;
}

@mixin accent-font {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 400;
}

@mixin transition {
    transition: all 0.15s ease-in-out;
}

@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


@mixin gradient-border($thickness: 4, $radius: 20px) {
    padding: 24px 32px;
    @include mq(576) {
        padding: 36px 40px;
    }
    border-radius: $radius;
    background: $gradient--primary;
    position: relative;
    > * {
        position: relative;
    }
    &::before {
        content: "";
        position: absolute;
        left: #{$thickness}px;
        top: #{$thickness}px;
        bottom: #{$thickness}px;
        right: #{$thickness}px;
        border-radius: #{$radius - $thickness};
        background: #fff;
    }
}