@charset "utf-8";
@import "../variables";
@import "../mixins";

@import "reset.scss";
@import "intro.scss";

@font-face {
    font-family: "Unbounded";
    src: url("/_styles/fonts/Unbounded-VF.woff2") format("woff2 supports variations"),
        url("/_styles/fonts/Unbounded-VF.woff2") format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 25% 151%;
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("/_styles/fonts/JetBrainsMono-VF.woff2") format("woff2 supports variations"),
        url("/_styles/fonts/JetBrainsMono-VF.woff2") format("woff2-variations");
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}

section {
    scroll-margin-top: 50px;
    padding-top: 72px;
    padding-bottom: 72px;

    @include mq(1280) {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    background-color: #fff;
    position: relative;
}

.dark-bg {
    background-color: $black;
    color: #fff;
    .link {
        color: $primary-color;
        &:hover {
            opacity: 0.85 !important;
        }
    }
}

.dark-bg--underlay {
    background-color: $black;
}

.pb-0 {
    padding-bottom: 0;
}

.wrap {
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
    width: 100%;
    @include mq(768) {
        padding-left: 32px;
        padding-right: 32px;
    }
    @include mq(1280) {
        padding-left: 44px;
        padding-right: 44px;
    }
    @include mq(1440) {
        max-width: 1300px;
    }
    @include mq(1600) {
        max-width: 1464px;
    }
}

.accent-font {
    @include accent-font;
}

h1 {
    font-size: 44px;

    @include mq(768) {
        font-size: 90px;
    }

    @include mq(1280) {
        font-size: 120px;
    }
    @include mq(1600) {
        font-size: 130px;
    }
}

[class*="gradient-text"] {
    background-color: $primary-color;
    background: $gradient--primary;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}
.gradient-text--reversed {
    background-image: $gradient--primary--reversed;
}

.top-nav {
    background-color: $black;
    padding: 8px 0;
    @include mq(768) {
        padding: 20px 0;
    }
    &.fixed {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 100;
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #8d8e90;
        @include mq(768) {
            .top-menu__item {
                font-size: 16px;
            }
            transform: translateY(-10px);
            opacity: 0;
        }
        @include mq(768, max) {
            border-bottom: 0;
            background-color: transparent;
            .logo {
                transition: none;
                opacity: 0;
            }
            .btn-menu-m {
                background-color: $black;
                border: 2px solid #fff;
                box-sizing: content-box;
            }
            .btn-menu-inner,
            .btn-menu-inner::before,
            .btn-menu-inner::after {
                background-color: #fff;
            }
        }
        .logo {
            width: 110px;
        }
        &.is-visible {
            opacity: 1;
            transform: translateY(0);
            transition: 0.2s all ease-in-out;
        }
    }
    .wrap {
        display: flex;
        align-items: center;
    }
    nav {
        margin-left: auto;
    }
    .logo {
        width: 110px;
        @include mq(1024) {
            width: 130px;
        }
        @include mq(1600) {
            width: 150px;
        }
        transform: skewY(0);
        transition: all 0.05s ease-in-out;
        img {
            border-radius: 0;
            width: 100%;
        }
    }
    a.logo:hover {
        transform: skewY(-5deg);
    }
}
.top-menu {
    display: flex;
    align-items: center;
    @include accent-font;
    @include mq(768) {
        &__item {
            margin-left: 40px;
        }
    }
    &__link {
        color: #fff;
        text-decoration: none;
        &:hover,
        &:focus {
            color: $primary-color;
        }
    }

    @include mq(768, max) {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        overflow-y: auto;
        left: 0;
        top: 0;
        z-index: 10;
        flex-direction: column;
        right: 0;
        justify-content: center;
        background-color: $black;
        transition: 0.3s all ease-in-out;
        transform: translateY(20px);

        &.is-visible {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }

        &__item {
            padding: 8px 0;
            order: 2;
        }
        &__item.lang-switcher {
            padding: 16px 0;
            order: 1;
        }
        &__link {
            padding: 8px;
            display: inline-block;
        }
    }
}
.lang-switcher {
    color: #fff;
    display: flex;
    align-items: baseline;
}
.lang-switcher__item {
    color: #fff;
    text-decoration: none;
    &.is-active:before {
        content: "";
        display: inline-flex;
        vertical-align: middle;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: $primary-color;
        box-shadow: 0px 0px 4px 2px #41cd44;
        margin-right: 10px;
    }
    &:not(.is-active):hover,
    &:not(.is-active):focus {
        color: $primary-color;
    }
}

.taglist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    @include mq(1280) {
        gap: 16px;
    }
    &__item {
        @include accent-font;
        line-height: 1;
        padding: 0.5em 0.7em;
        border-radius: $brs-xxs;
        border: 1px solid $primary-color;
        text-transform: lowercase;
    }
    &--small {
        font-size: 12px;
        @include mq(768) {
            font-size: 16px;
        }
    }
}
