---
layout: base.njk
---

{% import "components.njk"  as components with context %}

<section class="case-intro dark-bg {% if not no_intro_block is defined %} pb-0 {% else %} no-intro-block {% endif %}" data-gsap-el="pageCover">
    <div class="wrap">
        <h1 data-gsap-el="coverTitle"><span class="gradient-text">{{ title | replace("Bright Rich", "Bright&nbsp;Rich") | safe }}</span></h1>
        <h3 data-gsap-el="coverDesc">{{ short_desc }}</h3>
        <ul class="taglist" data-gsap-el="tagList">
            {% for item in role %}
            <li class="taglist__item">{{item}}</li>
            {% endfor %}
        </ul>
        <div class="case-intro__date" data-gsap-el="coverDate"><span>{{year}}</span></div>
    </div>
</section>

{{ content | safe}}

<section class="dark-bg more-cases-section">
    <div class="wrap">
        <h2 class="centered"><span class="gradient-text">{% i18n 'More case studies', 'Другие кейсы' %}</span></h2>
        <ul class="caselist caselist--small">

            {% for project in collections["projects_" + page.lang] | reverse  %}
            {% if page.url !== project.url %}

            {{ components.caselistItemSmall(project) }}

            {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>