
// colors

$black: /* #1d2431;  */#1a1c21;
$primary-color: #4aebc8; /* #25C78C; */
$secondary-color: #edfb55;
$gradient--primary: linear-gradient(92.82deg, #50D7C6 15.83%, #41CD44 104.74%, #41CD42 104.74%, #ABDAAA 104.75%);

// border-radius
$brs-xxs: 8px;
$brs-xs: 12px;
$brs-s: 16px;
$brs-m: 24px;
$brs-l: 32px;
$brs-xl: 48px;
$brs-xxl: 60px;