---
tags: ['latest', 'projects']
date: 2022-01-01
title: Bright Rich
meta_title: Кейс | Основной сайт Bright Rich
short_desc: Полная переверстка основного сайта и улучшение UI/UX.
short_desc_add: Подробный кейс.
year: Ноябрь 2022
folder: brightrich
role:
- Оптимизация UX/UI
- Вёрстка и натяжка на CMS
- Дизайн дополнительных страниц
---

{% import "../_includes/components.njk" as components %}
<section class="case-cover dark-bg overlapped">
    <div class="wrap">
        {% image ["src/content/", folder, "/cover.jpg"] | join, "", "Bright Rich - скриншот главной страницы",  [1376]  %}
    </div>
</section>

<div class="brs-top-outer--dark" >
    <section class="brs-top">
        <div class="wrap">
            <div class="readable">
                <h2>О компании</h2>
                <p>Bright Rich — первая российская компания, принятая в CORFAC, международную ассоциацию брокеров коммерческой недвижимости. На сегодня портфель сделок превышает 1,7 млн кв. м. Офисы открыты в Москве, Санкт-Петербурге, ОАЭ и Казахстане.</p>
                <h2>Задачи</h2>
                <p>На сайте накопилось много проблем, которые довольно медленно исправлялись штатным специалистом. Компания планировала расширяться в Казахстан и ОАЭ, поэтому нам было поручено оперативно привести сайт в порядок. Для этого планировалось:</p>
                <ul class="bulleted-list--custom">
                    <li>провести ручное тестирование для обнаружения неучтенных проблем;
                    </li>
                    <li>перенести сайт на собственную CMS веб-студии Evernet, заточенную под работу с недвижимостью.</li>
                </ul>
            </div>
        </div>
    </section>
</div>

<section class="border-top" >
    <div class="wrap">
        <h2>Типы страниц для вёрстки</h2>
        <div class="pages-type-layout">
            <ol class="numbered-list">
                <li>Главная страница</li>
                <li>Список предложений (3 вида)</li>
                <li>Объект</li>
                <li>Предложение в объекте</li>
                <li>О компании</li>
                <li>Журнал</li>
                <li>Список новостей</li>
                <li>Страница новости</li>
                <li>Все услуги</li>
                <li>Страница направления услуг</li>
                <li>Страница услуги</li>
                <li>Список вакансий</li>
                <li>Страница вакансии</li>
                <li>Контакты</li>
                <li>Ошибка 404</li>
            </ol>
            <div class="block-image">
                {% image ["src/content/", folder, "/types-1.jpg"] | join, "brs-0", "Типы страниц для верстки",  [750, 1127]  %}
            </div>
        </div>
    </div>
</section>

<section class="dark-bg overlapped" >
    <div class="wrap">

        <div class="rows readable">
            <h2>Нужно больше страниц</h2>
            <p>В ходе переноса добавились еще два типа страниц, для которых нужно было разработать дизайн в фирменном стиле с использованием уже имеющихся компонентов:</p>

            <ol class="numbered-list">
                <li>Объект типа «апартаменты»</li>
                <li>Страница аналитики по району</li>
            </ol>
        </div>

        <div class="screens-grid-2">
            <div class="grid-item">
                <div class="long-image-crop" data-lightbox>
                    {% image ["src/content/", folder, "/apartments-preview.jpg"] | join, "", "Страница апартаментов - превью",  [658]  %}
                    <div data-full-image>{% image ["src/content/", folder, "/apartments.jpg"] | join, "", "Страница апартаментов",  [1376]  %}</div>
                </div>
            </div>

            <div class="grid-item">
                <div class="long-image-crop" data-lightbox>
                    {% image ["src/content/", folder, "/analytics-preview.jpg"] | join, "", "Страница аналитики - превью",  [658]  %}
                    <div data-full-image>{% image ["src/content/", folder, "/analytics.jpg"] | join, "", "Страница аналитики",  [1376]  %}</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="brs-top" >
    <div class="wrap">
        <h2>Нужно больше иконок</h2>
        <div class="rows">
            <p>Для блока об инфраструктуре на странице апартаментов было подобрано и приведено к единому стилю более 40 иконок</p>
            {# <img src="/content/{{folder}}/icons.jpg" alt="Иконки для страницы апартаментов"> #}
            {% image ["src/content/", folder, "/icons.jpg"] | join, "", "Иконки для страницы апартаментов",  [1376, 2064]  %}
        </div>
    </div>
</section>

<div class="wrap" >
    <div class="dark-bg rounded-incut rows">
        <h2>Глобальная проблема: <span class="wavy-underline">лишний&nbsp;код</span></h2>
        <p>На сайте нерационально использовалась библиотека Bootstrap. Активно применялись только классы для сетки, а стили для всех остальных элементов были избыточными и часто переопределяли дефолтные стили библиотеки, из-за чего её использование теряло смысл. В HTML была излишняя вложенность в больших количествах.</p>

        <div class="callout">
            <h3 class="colored--primary">Было решено написать с нуля разметку и стили</h3>
            <p>Часть элементов поменяла свой внешний вид по результатам аудита поэтому для них в любом случае потребовалось бы переписать код. Также планировалось добавление новых типов страниц и элементов. Полный рефакторинг обеспечит удобную поддержку и масштабирование в будущем.</p>
        </div>

        <p>Новый сайт сверстан с использованием шаблонизатора Smarty и SCSS.</p>
        <p>Промежуточную версию обновленного кода можно посмотреть на GitHub.</p>
        <a href="https://github.com/alexkooksa/br_partial" target="_blank" class="btn btn-white"><span class="btn-icon github-icon">Частичный на GitHub</span></a>
    </div>
</div>

<section >
    <div class="wrap">
        <h2>Не только код</h2>
        <div class="sided-callout-layout">
            <div class="text-block">
                <p>Остальные проблемы касались юзабилити:</p>
                <ul class="bulleted-list--custom">
                    <li>неочевидная или неудобная навигация в некоторых блоках</li>
                    <li>нарушения производительности</li>
                    <li>некорректная работа скриптов (например, была путаница в применении слайдера на больших и маленьких экранах)</li>
                </ul>
            </div>
            <aside>
                <div class="callout">
                    <p class="stats-block"><span class="stats-number">50+</span><span class="stats-unit">страниц <br>в гуглодоке</span></p>
                    <p class="stats-desc">Столько багов и неудобств было зафиксировано на текущем сайте перед началом работ</p>
                </div>
            </aside>
        </div>
    </div>
</section>

<section class="dark-bg overlapped" >
    <div class="wrap">
        <h2>Изменения в карточке предложения</h2>
        <ul class="bulleted-list--custom">
            <li>Увеличено количество фото в слайдере</li>
            <li>При наведении на карточку навигация в слайдере становится видимой</li>
            <li>Класс объекта и тип предложения вынесены наверх на плашки</li>
            <li>Адрес перенесен вниз к остальной информации о локации</li>
            <li>Убрана анимация в блоке “время до метро / район“</li>
            <li>Предусмотрен вариант с несколькими станциями метро</li>
            <li>Фиолетовая точка у названия метро заменена на универсальную иконку, так как на исходном сайте не был реализован функционал соответствия цвету линии, а фиолетовый создавал диссонанс</li>
        </ul>
        <hr>
        <div class="screens-grid-2">
            <div class="item">
                <h3>Было</h3>
                {# <img src="/content/brightrich/card-before.png" alt=""> #}
                {% image ["src/content/", folder, "/card-before.jpg"] | join, "brs-0", "Карточка предложения - до",  [658, 987]  %}

            </div>
            <div class="item">
                <h3>Стало</h3>
                {# <img src="/content/brightrich/card-after.png" alt=""> #}
                {% image ["src/content/", folder, "/card-after.jpg"] | join, "brs-0", "Карточка предложения - после",  [658, 987]  %}

            </div>
        </div>
    </div>
</section>

<section class="brs-top" >
    <div class="wrap">
        <h2>Примеры других проблем</h2>
        <div class="solution-layout">
            <div class="solution-desc">
                <div class="solution-desc__inner">
                    <h3 class="underline-red">Проблема</h3>
                    <p>Кнопка для отрытия превью фото появлялась только при наведении. Сложно было понять, что ниже есть еще варианты, потому что прокрутка так же появлялась только при наведении.</p>
                </div>
            </div>
            <div class="solution-image">
                {# <img src="/content/brightrich/variants-before.jpg" alt=""> #}
                {% image ["src/content/", folder, "/variants-before.jpg"] | join, "", "Таблица вариантов - до",  [995, 1493]  %}

            </div>
        </div>
        <div class="solution-layout">
            <div class="solution-desc">
                <div class="solution-desc__inner">
                    <h3 class="underline-green">Решение</h3>
                    <p>Вместо иконки вывели реальное фото. Полный список вариантов больше не прячется под скроллом. Если вариантов много, появляется кнопка «показать ещё» для просмотра полного списка.</p>
                </div>
            </div>
            <div class="solution-image">
                {# <img src="/content/brightrich/variants-after.jpg" alt=""> #}
                {% image ["src/content/", folder, "/variants-after.jpg"] | join, "", "Таблица вариантов - после",  [995, 1493]  %}
            </div>
        </div>
    </div>
</section>

<section class="border-top" >
    <div class="wrap">
        <div class="solution-layout">
            <div class="solution-desc">
                <div class="solution-desc__inner">
                    <h3 class="underline-red">Проблема</h3>
                    <p>Вертикальный слайдер, листающий элементы при прокрутке, с плохой реализацией и низкой произодительностью. Неизвестно количество слайдов, невзрачная кнопка для принудительной прокрутки.</p>
                </div>
            </div>
            <div class="solution-image">
                {# <img src="/content/{{folder}}/features-01.jpg" class="bordered" alt=""> #}
                {% image ["src/content/", folder, "/features-01.jpg"] | join, "bordered", "Слайдер - до",  [995, 1493]  %}

            </div>
        </div>
        <div class="solution-layout">
            <div class="solution-desc">
                <div class="solution-desc__inner">
                    <h3 class="underline-green">Решение</h3>
                    <p>Классический слайдер с автозапуском и дальнейшей прокруткой по желанию пользователя</p>
                </div>
            </div>
            <div class="solution-image">
                {# <img src="/content/{{folder}}/features-02.jpg" class="bordered" alt=""> #}
                {% image ["src/content/", folder, "/features-02.jpg"] | join, "bordered", "Слайдер - до",  [995, 1493]  %}

            </div>
        </div>
    </div>
</section>

<section class="border-top" >
    <div class="wrap">
        <div class="solution-layout">
            <div class="solution-desc">
                <div class="solution-desc__inner">
                    <h3 class="underline-red">Проблема</h3>
                    <p>Заголовок-селект. Не слишком заметная стрелка, сложно догадаться, какие опции под ней скрываются</p>
                </div>
            </div>
            <div class="solution-image">
                {# <img src="/content/brightrich/services-before.jpg" alt=""> #}
                {% image ["src/content/", folder, "/services-before.jpg"] | join, "", "Услуги - до",  [995, 1493]  %}

            </div>
        </div>
        <div class="solution-layout">
            <div class="solution-desc">
                <div class="solution-desc__inner">
                    <h3 class="underline-green">Решение</h3>
                    <p>Показаны сразу все возможные варианты за счёт табов</p>
                </div>
            </div>
            <div class="solution-image">
                {# <img src="/content/brightrich/services-after.jpg" alt=""> #}
                {% image ["src/content/", folder, "/services-after.jpg"] | join, "", "Услуги - после",  [995, 1493]  %}

            </div>
        </div>
    </div>
</section>

<section class="dark-bg brs-top" >
    <div class="wrap rows">

        <h2>Пример готовой страницы</h2>
        <p>Главная страница содержит большое количество слайдеров, табов и других интерактивных элементов.</p>

        {{ components.video('brightrich-video.webm', 'brightrich-video-poster.jpg', true) }}

    </div>
</section>

<section class="dark-bg border-top--light">
    <div class="wrap">

        <h2><span class="gradient-text">Итоги</span></h2>
        <div class="stats-grid">
            <div class="stats-grid__item">
                <div class="stats-block">
                    <p class="stats-number">-50%</p>
                </div>
                <p class="stats-desc">На столько сократился объем файлов стилей</p>
            </div>
            <div class="stats-grid__item">
                <div class="stats-block">
                    <p class="stats-number">+12%</p>
                </div>
                <p class="stats-desc">На столько увеличилась производительность</p>
            </div>
            <div class="stats-grid__item">
                <div class="stats-block">
                    <p class="stats-number">100+</p>
                </div>
                <p class="stats-desc">улучшений и исправлений было сделано </p>
            </div>
            <div class="stats-grid__item">
                <div class="stats-block">
                    <span class="stats-number">2</span>
                    <span class="stats-unit">недели</span>
                </div>
                <p class="stats-desc">заняли работы по полному переносу сайта</p>
            </div>
        </div>

        <ul class="bulleted-list--custom">
            <li>полностью переписаны HTML и CSS. Тот случай, когда надежнее сделать с нуля, чем переносить и рефакторить старый избыточный код</li>
            <li>отключены лишние скрипты, в том числе зависимости от Bootstrap, использованы кастомные функции для табов и т. п. Сторонние библиотеки: Swiper, Fancybox, Nice/Multiselect</li>
            <li>улучшена логика во внешнем виде некоторых элементов</li>
            <li>обновленная кодовая база используется также и для региональных версий (ОАЭ и Казахстан)</li>
            <li>сайт полностью адаптивен, основные брейкпойнты: 320, 768, 1024, 1280, 1600+ пикселей</li>
        </ul>

        <div class="mobile-screens">
            <div class="grid-item">
                {# <img src="/content/brightrich/mobile-01.jpg" alt=""> #}
                {% image ["src/content/", folder, "/mobile-01.jpg"] | join, "", "Скриншот мобильной версии Bright Rich - 01",  ""  %}

            </div>
            <div class="grid-item">
                {# <img src="/content/brightrich/mobile-02.png" alt=""> #}
                {% image ["src/content/", folder, "/mobile-02.png"] | join, "", "Скриншот мобильной версии Bright Rich - 02",  ""  %}

            </div>
            <div class="grid-item">
                {# <img src="/content/brightrich/mobile-03.jpg" alt=""> #}
                {% image ["src/content/", folder, "/mobile-03.jpg"] | join, "", "Скриншот мобильной версии Bright Rich - 03",  ""  %}
            </div>
        </div>
    </div>
</section>
<section class="links-section" >
    <div class="wrap">
        <h2>Ссылки</h2>
        <div class="buttons-group">
            <a href="https://brightrich.ru" target="_blank" class="btn btn-outline--default btn-external"><span>brightrich.ru</span></a>
            <a href="https://github.com/alexkooksa/br_partial" target="_blank" class="btn btn-outline--default btn-external"><span>Частичный код на GitHub</span></a>
        </div>
    </div>
</section>