---
title: Кейсы
short_desc: Некоторые проекты, в которых я принимала участие
meta_title: Kooksa.codes | Кейсы
layout: base.njk
---
<section class="case-intro dark-bg pb-0">
    <div class="wrap">
        <h1><span class="gradient-text">{{ title }}</span></h1>
        <h3>{{ short_desc }}</h3>
    </div>
</section>
{% include 'projectsList.njk' %}
