---
title: 404
permalink: 404.html
layout: base.njk
templateEngineOverride: njk
---
<section class="dark-bg page-404">
    <div class="wrap">
        <div class="rows">
            <h1><span class="gradient-text">{{ title }}</span></h1>
            <p>Oh no, the page is missing &#129335;</p>
            <p>Let's try going back to the <a class="link" href="/">homepage</a></p>
            <p><a href="/" class="btn btn-white">Good idea</a></p>
        </div>
    </div>
</section>