---
meta_title: Alexandra Kuksa, a front-end developer with UI/UX design experience
meta_description: This portfolio features some projects I have worked on as a designer and front-end developer
layout: base.njk
templateEngineOverride: njk
---

{% include 'homepageIntro.njk' %}

<div class="dark-bg--underlay">
	<section class="cases-section dark-bg" id="projects">
		<div class="wrap">
			<div class="title-group centered">
				<h2><span class="gradient-text" data-gsap="opacity">Recent case studies</span></h2>
				<p data-gsap="opacity">These websites have been successfully launched and are being maintained</p>
			</div>
			{% include 'projectsListLatest.njk' %}
		</div>
	</section>
</div>

<section class="older-section dark-bg">
	<div class="wrap">
		<div class="centered title-group">
			<h2><span class="gradient-text" data-gsap="opacity">Older websites</span></h2>
			<p data-gsap="opacity">There were other projects besides Bright Rich. For instance:</p>
		</div>
		{% include 'projectsListOlder.njk' %}
	</div>
</section>

{% include 'experienceSection.njk' %}

{% include 'skillsSection.njk' %}

{% include 'educationSection.njk' %}

{% include 'aboutSection.njk' %}