---
title: 404
permalink: 404.html
layout: base.njk
templateEngineOverride: njk
---
<section class="dark-bg page-404">
    <div class="wrap">
        <div class="rows">
            <h1><span class="gradient-text">{{ title }}</span></h1>
            <p>Страница потерялась &#129335;</p>
            <p>Как насчет того, чтобы <a class="link" href="/">перейти на главную</a>?</p>
            <p><a href="/" class="btn btn-white">Хорошая идея</a></p>
        </div>
    </div>
</section>