---
meta_title: Александра Кукса — Frontend-разработчик с опытом в UI/UX
layout: base.njk
templateEngineOverride: njk
---

{# TODO critical css for intro #}


<section class="homepage-intro">
	<img src="/styles/images/bg1.jpg" alt="" data-gsap-el="bg1">
	<img src="/styles/images/bg2.jpg" alt="" data-gsap-el="bg2">
	<img src="/styles/images/bg3.jpg" alt="" data-gsap-el="bg3">
	<div class="wrap">
		<p class="greeting accent-font" data-gsap-el="greeting">Привет, я Александра Кукса&nbsp;&mdash;</p>
		<h1>
			<span class="text-underlay" data-gsap-el="mainline-1"><span class="gradient-text">Frontend-</span>
			</span>
			<span class="text-underlay" data-gsap-el="mainline-2"><span class="gradient-text">разработчик</span></span>
			<span class="tagline accent-font" data-gsap-el="tagline"><span>// с опытом в&nbsp;UI/UX</span></span>
		</h1>
		<a href="#work" class="btn btn-white" data-gsap-el="buttonNext">Интересно, дальше</a>
	</div>
</section>

<div class="brs-top-outer--dark" data-gsap-el="section-rounded">
	<section class="cases-section dark-bg" id="work">
		<div class="wrap">
			<div class="title-group centered">
				<h2><span class="gradient-text" data-gsap="opacity">Недавние кейсы</span></h2>
				<p data-gsap="opacity">Проекты запущены, поддерживаются и развиваются</p>
			</div>
			{% include 'projectsListLatest.njk' %}
		</div>
	</section>
</div>

<section class="older-section dark-bg">
	<div class="wrap">
		<div class="centered title-group">
			<h2><span class="gradient-text" data-gsap="opacity">Сайты постарше</span></h2>
			<p data-gsap="opacity">Кроме Bright Rich были и другие проекты, например:</p>
		</div>
		{% include 'projectsListOlder.njk' %}
	</div>
</section>

<div class="brs-top-outer--dark" data-gsap-el="section-rounded">
	<section class="brs-top" id="experience">
		<div class="wrap">
			<div class="centered title-group">
				<h2 class="section-title" data-gsap="opacity"><span class="gradient-text">Опыт работы</span></h2>
			</div>
			<ul class="timeline">
				<li class="timeline-item" data-gsap="opacity">
					<div class="timeline-item__info">
						<p class="timeline-item__date">апрель 2017 - март 2023</p>
						<p class="timeline-item__place">Evernet</p>
					</div>
					<div class="timeline-item__content">
						<h3><span class="bg-text">Frontend-разработчик + UI/UX-дизайнер</span></h3>
						<ul class="responsibilities-list bulleted-list--default">
							<li>с 2022 года участвовала преимущественно в проектах для клиента Bright&nbsp;Rich: <a href="/work/brightrich" class="link">основной кейс</a>, <a href="/work/more-brightrich" class="link">еще кейсы</a></li>
							<li>расширенная область ответственности внутри компании</li>
							<li>участие во всех этапах разработки проекта: дизайн, создание шаблонов с версткой для CMS (CodeIgniter + Smarty), наполнение контентом, настройка модулей для вывода клиентского контента в админке, сопровождение и внедрение новых функций после запуска</li>
							<li>внесение небольших правок на бэкенде (PHP)</li>
							<li>взаимодействие с командой клиента (дизайнеры, маркетологи)</li>
							<li>проведение юзабилити-аудитов</li>
						</ul>
					</div>
				</li>
				<li class="timeline-item" data-gsap="opacity">
					<div class="timeline-item__info">
						<p class="timeline-item__date">октябрь 2016 - март 2017</p>
						<p class="timeline-item__place">Evernet</p>
					</div>
					<div class="timeline-item__content">
						<h3><span class="bg-text">Верстальщик + UI/UX-дизайнер</span></h3>
						<ul class="responsibilities-list bulleted-list--default">
							<li>расширенная область ответственности внутри компании</li>
							<li>адаптивная верстка по собственным и клиентским макетам</li>
							<li>работа в команде с backend-разработчиком</li>
							<li>поддержка проектов: дизайн и верстка новых компонентов, оптимизация существующих компонентов, устранение багов</li>
						</ul>
					</div>
				</li>
				<li class="timeline-item" data-gsap="opacity">
					<div class="timeline-item__info">
						<p class="timeline-item__date">март 2016 - сентябрь 2016</p>
						<p class="timeline-item__place">Evernet</p>
					</div>
					<div class="timeline-item__content">
						<h3><span class="bg-text">UI/UX-дизайнер</span></h3>
						<ul class="responsibilities-list bulleted-list--default">
							<li>разработка дизайн-макетов для новых сайтов</li>
							<li>редизайн существующих сайтов клиентов</li>
							<li>поддержка готовых проектов (работа с контентом, внесение правок)</li>
						</ul>
					</div>
				</li>
				<li class="timeline-item" data-gsap="opacity" hidden>
					<div class="timeline-item__info">
						<p class="timeline-item__date">сентябрь 2015 - февраль 2016</p>
						<p class="timeline-item__place">Home, sweet home</p>
					</div>
					<div class="timeline-item__content">
						<h3><span class="bg-text">Фрилансер</span></h3>
						<ul class="responsibilities-list bulleted-list--default">
							<li>разработка дизайн-макетов</li>
							<li>тренировка насмотренности, изучение материалов для перехода из полиграфии в веб-дизайн</li>
						</ul>
					</div>
				</li>
				<li class="timeline-item" data-gsap="opacity" hidden>
					<div class="timeline-item__info">
						<p class="timeline-item__date">сентябрь 2013 - август 2015</p>
						<p class="timeline-item__place">Маркетинговое агентство <br>«Открытый мир»</p>
					</div>
					<div class="timeline-item__content">
						<h3><span class="bg-text">Дизайнер + фотограф</span></h3>
						<ul class="responsibilities-list bulleted-list--default">
							<li>создание дизайн-макетов и презентаций</li>
							<li>работа с типографиями</li>
							<li>съемка спортивных мероприятий локального и международного уровня</li>
						</ul>
					</div>
				</li>
			</ul>

			<button class="btn btn-default" data-btn="show-jobs">+ 2 места работы</button>
		</div>
	</section>
</div>
<div class="wrap skills-wrap dark-bg" data-gsap="translateY">
	<h2 data-gsap="opacity"><span class="gradient-text">Навыки</span></h2>
	<div class="skills-grid">
		<div class="grid-item">
			<h3>Hard skills</h3>
			<ul class="bulleted-list--custom">
				<li><b>Языки и инструменты:</b> HTML, CSS / SASS, JavaScript, Smarty, Eleventy, Git (basics)</li>

				<li><b>Библиотеки:</b> JQuery + плагины, Swiper, Fancybox, AOS, GSAP</li>

				<li><b>Дизайн:</b> проектирование интерфейсов, типографика, оптимизация UI/UX</li>

				<li><b>Софт: </b>Figma, Adobe XD, Photoshop, Illustrator</li>

				<li><b>Иностранные языки:</b> английский (разговорный, чтение документации), французский (начальный)</li>
			</ul>
		</div>
		<div class="grid-item">
			<h3>Soft skills</h3>
			<ol class="numbered-list">
				<li>Умею расставлять приоритеты</li>
				<li>Всегда могу обосновать свои решения</li>
				<li>Хорошо принимаю критику и уважаю альтернативную точку зрения</li>
				<li>Признаю ошибки и извлекаю из них урок</li>
				<li>Не стесняюсь задавать вопросы, но и с гуглом дружу</li>
			</ol>
		</div>
		<div class="grid-item">
			<h3 class="has-wavy"><span class="wavy-underline">В процессе</span></h3>
			<ul class="bulleted-list--custom">
				<li>Курс «Фундаментальный JavaScript»</li>
				<li>Курс «React для современных веб-приложений»</li>
			</ul>
		</div>
		<div class="grid-item skills-callout">
			<div class="callout">
				<span class="callout-inner">Открыта для новых знаний&nbsp;&#129299;</span>
			</div>
		</div>
	</div>
</div>

<section>
	<div class="wrap">
		<div class="title-group centered">
			<h2 data-gsap="opacity"><span class="gradient-text">Образование</span></h2>
		</div>
		<ul class="timeline">
			<li class="timeline-item" data-gsap="opacity">
				<div class="timeline-item__info">
					<p class="timeline-item__date">сентябрь 2008 - июнь 2013</p>
					<p class="timeline-item__place">Санкт-Петербургский политехнический университет Петра Великого</p>
				</div>
				<div class="timeline-item__content">
					<h3><span class="bg-text">Обучение по специальности «Информатик-дизайнер»</span></h3>
					<p>Получен диплом специалиста. Основные изученные дисциплины:</p>
					<ul class="responsibilities-list bulleted-list--default">
						<li>высокоуровневые методы информатики и программирования</li>
						<li>базы данных, теория вероятностей и математическая статистика</li>
						<li>основы композиции, шрифты и визуальные коммуникации, допечатная подготовка</li>
						<li>компьютерная графика, технологии трехмерного моделирования и анимации, графический дизайн</li>
						<li>начертательная геометрия, рисунок и спецграфика, дизайн пространственной среды</li>
						<li>художественная и креативная фотография</li>
					</ul>
				</div>
			</li>
			<li class="timeline-item" data-gsap="opacity">
				<div class="timeline-item__info">
					<p class="timeline-item__date">февраль 2012 - июнь 2012</p>
					<p class="timeline-item__place">L'Ecole de Design Nantes Atlantique (Нант,&nbsp;Франция)</p>
				</div>
				<div class="timeline-item__content">
					<h3><span class="bg-text">Обучение по программе обмена студентами</span></h3>
					<p>Дисциплины и проекты в рамках направления «Connected environments»:</p>
					<ul class="responsibilities-list bulleted-list--default">
						<li>компьютерная графика (2D), 3Ds Max, Processing</li>
						<li>визуальные коммуникации и рисунок</li>
						<li>соревнования в сфере дизайна</li>
						<li>концепт для магазина Chlorophylle Bio Coop</li>
						<li>французский язык и культура</li>
						<!-- 						<li>Visual arts</li>
						<li>Colour drawing</li>
						<li>Computer graphic 2D, 3Ds Max, Processing</li>
						<li>Design competition</li>
						<li>Chlorophylle Bio Coop Concept Store Project</li>
						<li>French language and culture</li> -->
					</ul>
				</div>
			</li>
		</ul>
	</div>
</section>

<section class="dark-bg brs-top" data-gsap-el="section">
	<div class="wrap">
		<div class="about-group">
			<div class="about-info">
				<h2 data-gsap="opacity"><span class="gradient-text">Обо мне</span></h2>
				<div class="rows" data-gsap="opacity">
					<p>Здесь будет классный текст о том, почему я суперспециалист, который может ващщщще всё. Надо себя похвалить, конечно, да. Может еще что-то придумаю, но объем будет примерно такой. Может, чуть побольше. Но не больше листа А4. Размеры листа А4, кстати, двести десять на двести девяносто семь миллиметров. Полезная информация, если вы дизайнер или просто выбираете подходящую бумагу для записей ваших крутых идей. В веб-разработке с 2016 года. </p>
					<p><a href="https://github.com/alexkooksa/portfolio" target="_blank" class="link"><span class="btn-icon github-icon-w">Код портфолио на GitHub</span></a></p>
				</div>
				<div class="contacts-block" id="contact" data-gsap="opacity">
					<h2><span class="gradient-text">Связаться</span></h2>
					<div class="buttons-group">
						<a href="tg://resolve?domain=alexkooksa" class="btn btn-white"><span class="btn-icon telegram-icon">Telegram</span></a>
						<a href="https://www.linkedin.com/in/alexkooksa/" target="_blank" class="btn btn-white"><span class="btn-icon linkedin-icon">LinkedIn</span></a>
						<a href="mailto:alex.kooksa@gmail.com" class="btn btn-white"><span class="btn-icon email-icon">E-mail</span></a>
					</div>
				</div>
			</div>
			<div class="about-pic" data-gsap="translateY">
				<div style="background-color: #f0f0f0; width: 100%; padding-bottom: 120%; border-radius: 24px;"></div>
			</div>
		</div>

	</div>
</section>